<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yousi.sjtujj"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- map -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- jpush -->
    <!-- Required -->
    <permission
        android:name="com.yousi.sjtujj.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />
    <!-- Required -->
    <uses-permission android:name="com.yousi.sjtujj.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- since 1.6.0 -->

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Map_key -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="74b867b927796dd944cb994cea4c2244" />

        <!-- Activity -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".T1Activity"
            android:label="@string/title_activity_t1" >
        </activity>
        <activity
            android:name=".T2Activity"
            android:label="@string/title_activity_t2" >
        </activity>
        <activity
            android:name=".EmptyActivity"
            android:label="@string/title_activity_empty" >
        </activity>
        <activity
            android:name=".T3Activity"
            android:label="@string/title_activity_t3" >
        </activity>
        <activity
            android:name=".T4Activity"
            android:label="@string/title_activity_t4" >
        </activity>
        <activity
            android:name=".DdxxActivity"
            android:label="@string/title_activity_ddxx" >
        </activity>
        <activity
            android:name=".T2_ddxqActivity"
            android:label="@string/title_activity_t2_ddxq" >
        </activity>
        <activity
            android:name=".T2_ksskActivity"
            android:label="@string/title_activity_t2_kssk" >
        </activity>
        <activity
            android:name="com.yousi.expired.T2_stskzActivity"
            android:label="@string/title_activity_t2_stskz" >
        </activity>
        <activity
            android:name=".T2_stjsActivity"
            android:label="@string/title_activity_t2_stjs" >
        </activity>
        <activity
            android:name=".T3_grszActivity"
            android:label="@string/title_activity_t3_grsz" >
        </activity>
        <activity
            android:name=".T3_yjfkActivity"
            android:label="@string/title_activity_t3_yjfk" >
        </activity>
        <activity
            android:name=".T2_skzActivity"
            android:label="@string/title_activity_t2_skz" >
        </activity>
        <activity
            android:name=".T2_skjsActivity"
            android:label="@string/title_activity_t2_skjs" >
        </activity>
        <activity
            android:name=".T2_ddxxActivity"
            android:label="@string/title_activity_t2_ddxx" >
        </activity>
        <activity
            android:name=".T2_xgsksjActivity"
            android:label="@string/title_activity_t2_xgsksj" >
        </activity>
        <activity
            android:name="com.yousi.expired.T2_stwcActivity"
            android:label="@string/title_activity_t2_stwc" >
        </activity>
        <activity
            android:name="com.yousi.expired.T2_ksstActivity"
            android:label="@string/title_activity_t2_ksst" >
        </activity>
        <activity
            android:name=".T2_stsjActivity"
            android:label="@string/title_activity_t2_stsj" >
        </activity>
        <activity
            android:name="com.yousi.expired.T2_yjddActivity"
            android:label="@string/title_activity_t2_yjdd" >
        </activity>
        <activity
            android:name=".T2_qdstsjActivity"
            android:label="@string/title_activity_t2_qdstsj" >
        </activity>
        <activity
            android:name=".T2_stwcendActivity"
            android:label="@string/title_activity_t2_stwcend" >
        </activity>
        <activity
            android:name=".T2_skwcendActivity"
            android:label="@string/title_activity_t2_skwcend" >
        </activity>
        <activity
            android:name=".T3_grtzActivity"
            android:label="@string/title_activity_t3_grtz" >
        </activity>
        <activity
            android:name=".T4_zxggActivity"
            android:label="@string/title_activity_t4_zxgg" >
        </activity>
        <activity
            android:name=".T4_xxxqActivity"
            android:label="@string/title_activity_t4_xxxq" >
        </activity>
        <activity
            android:name=".T1_ddxxActivity"
            android:label="@string/title_activity_t1_ddxx" >
        </activity>
        <activity
            android:name=".T2_skjlActivity"
            android:label="@string/title_activity_t2_skjl" >
        </activity>
        <activity
            android:name=".MapActivity"
            android:label="@string/title_activity_map" >
        </activity>
        <activity
            android:name=".T2_nyjddActivity"
            android:label="@string/title_activity_t2_nyjdd" >
        </activity>
        <activity
            android:name=".T2_nksstActivity"
            android:label="@string/title_activity_t2_nksst" >
        </activity>
        <activity
            android:name=".T2_nstskzActivity"
            android:label="@string/title_activity_t2_nstskz" >
        </activity>
        <activity
            android:name=".T2_nstwcActivity"
            android:label="@string/title_activity_t2_nstwc" >
        </activity>
        <activity
            android:name=".T2_nksskActivity"
            android:label="@string/title_activity_t2_nkssk" >
        </activity>
    </application>

</manifest>
